/* Universal Styling */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif
}



/* Header / Navigation Bar */


.navBar {
    display: flex;
    list-style: none;
    padding: 5% 20% 0 2%;
}

.navBar li {
    padding-left: 5%;
    font-size: 1rem;
}

.navBar a {
    text-decoration: none;
    color: black;
}

.navBar li:first-child {
    margin-right: auto;
    font-size: 2rem;
}

.navBar > *:not(:first-child) {
    padding-top: 1%;
}



/* Hero Section */

